<footer 
*ngIf="showFooter"
  class="mt-4 bg-grad-blue text-center p-4 text-white fs-17"
  style="
    background-image: -moz-linear-gradient(
      0deg,
      rgb(27, 55, 149) 0%,
      rgb(0, 145, 215) 100%
    );
    background-image: -webkit-linear-gradient(
      0deg,
      rgb(27, 55, 149) 0%,
      rgb(0, 145, 215) 100%
    );
    background-image: -ms-linear-gradient(
      0deg,
      rgb(27, 55, 149) 0%,
      rgb(0, 145, 215) 100%
    );
  "
>
  {{ 'Shared.PowerdBy' | translate }}
</footer>
