<div class="font-weight-bold fs-18 fs-md-36 text-white text-center">
  {{ "Auth.NLogin" | translate }}
</div>
<div class="row mx-2">
  <div class="bg-white col-md-6 fs-18 mt-4 mx-auto p-5 rounded-20">
    <form (ngSubmit)="Login()" #logInForm="ngForm">
      <p-message
      *ngIf="error"
      styleClass="mb-3"
      severity="error"
      [text]="error"
      id="floorNumberError"
    >
    </p-message>
      <div class="form-group row">
        <label for="inputMobile" class="col-sm-3 col-form-label">
          {{ "Auth.Mobile" | translate }}
        </label>
        <div class="col-sm-9">
          <input
            type="tel"
            class="form-control"
            id="inputMobile"
            placeholder="0596479033"
            name="email"
            #mobile="ngModel"
            ngModel
            required
            appCheckMobile
          />

          <p-message
            *ngIf="
              (mobile.errors?.required && mobile.touched) ||
              (mobile.errors?.required && submitted)
            "
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.MobileRequired' | translate }}"
            id="floorNumberError"
          >
          </p-message>
          <p-message
            *ngIf="
              (mobile.errors?.notMobile && mobile.touched) ||
              (mobile.errors?.notMobile && submitted)
            "
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.MobileNotValid' | translate }}"
          >
          </p-message>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-3 col-form-label">
          {{ "Auth.Password" | translate }}
        </label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="{{ 'Auth.Password' | translate }}"
            ngModel
            name="password"
            #password="ngModel"
            required
          />
          <p-message
            *ngIf="
              (!password.valid && password.touched) ||
              (!password.valid && submitted)
            "
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.PasswordRequired' | translate }}"
            id="floorNumberError"
          >
          </p-message>
      
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
          <button type="submit" class="btn btn-block btn-lg btn-primary">
            {{ "Auth.Login" | translate }}
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9 d-flex justify-content-between offset-sm-3">
          <a [routerLink]="['../recover-password']" class="text-success">
            {{ "Auth.ForgotPassword" | translate }}</a
          >
          <a [routerLink]="['../sign-up']" class="float-right text-success">
            {{ "Auth.NewAccount" | translate }}</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <app-alert [message]="error" severity="error" summary="{{'Shared.Error'|translate}}" *ngIf="error"></app-alert>
<app-alert
  *ngIf="success"
  life="5000"
  message="{{ 'Auth.CheckYourEmail' | translate }}"
  severity="success"
  summary="{{ 'Auth.LoginSuccess' | translate }}"
></app-alert> -->
