<div class="inner-slider py-md-5 py-4">
  <div class="container">
    <div class="my-md-4 text-center text-white">
      <div class="fs-md-36 fs-18 font-weight-bold">
        {{ "Header.ContactUs" | translate }}
      </div>
      <div>
        {{ "Header.Home" | translate }} // {{ "Header.ContactUs" | translate }}
      </div>
    </div>
  </div>
</div>
<section class="py-md-5 py-4">
  <div class="container">
    <div class="mb-4">
      <div class="row mb-4 half-gutters">
        <div class="col-lg-4">
          <app-contact-us-info></app-contact-us-info>
        </div>
        <div class="col-lg-8">
          <app-send-message></app-send-message>
        </div>
        <!-- -->
      </div>
    </div>
  </div>
</section>
