<div class="inner-slider py-md-5 py-4">
  <div class="container">
    <div class="my-md-4 text-center text-white">
      <div class="fs-md-36 fs-18 font-weight-bold">
        {{ "Header.About" | translate }}
      </div>
      <div>
        {{ "Header.Home" | translate }} // {{ "Header.About" | translate }}
      </div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="row text-md-left text-center">
    <div class="col-md-6 mb-5 mt-md-5 wow fadeInUp" data-wow-delay="0.75s">
      <div class="mb-3 h3 font-weight-bold">
        <div class="text-success">{{ "About.Welcome" | translate }}</div>
        <div class="fs-md-36">
          {{ "Shared.In" | translate }} {{ "Shared.RHT" | translate }}
        </div>
      </div>
      <div class="mb-3 fs-17">
        <p>{{ "About.WelcomeContent1" | translate }}</p>
        <p>{{ "About.WelcomeContent2" | translate }}</p>
      </div>
    </div>
    <div class="col-md-6 mb-5 mt-md-5 wow fadeInUp" data-wow-delay="0.5s">
      <div class=""><img src="/assets/img/img.png" class="img-fluid" /></div>
    </div>
  </div>
</div>
<div class="bg-2 py-md-5 py-4 wow fadeInUp" data-wow-delay="0.5s">
  <div class="container">
    <div class="row">
      <div
        class="
          col-md-3
          font-weight-bold
          text-white text-center text-md-left
          offset-md-1
          mb-md-0 mb-4
        "
      >
        <div class="fs-md-24 fs-18">{{ "About.SimpleSteps" | translate }}</div>
        <div class="fs-md-36 fs-20">{{ "About.WindFamily" | translate }}</div>
      </div>
      <div
        class="
          align-items-center
          col-md-4
          d-flex
          font-weight-bold
          justify-content-md-start justify-content-center
          text-center text-md-left text-white
          mb-md-0 mb-4
        "
      >
        <img src="/assets/img/monthly-icon.png" class="mr-4" />
        <div>
          <div class="fs-md-24 fs-18">{{ "About.DomesticWorkers" | translate }}</div>
          <div class="fs-18">{{ "About.MonthlyPackages" | translate }}</div>
        </div>
      </div>
      <div
        class="
          align-items-center
          col-md-4
          d-flex
          font-weight-bold
          justify-content-md-start justify-content-center
          text-center text-md-left text-white
          mb-md-0 mb-4
        "
      >
        <img src="/assets/img/help-icon.png" class="mr-4" />
        <div>
          <div class="fs-md-24 fs-18">{{ "About.NeedHelp" | translate }}</div>
          <div class="fs-18">{{ "About.SendNeeds" | translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="">
          <div class="mb-md-4 mb-3 text-229942 font-weight-bold fs-md-24 fs-18">
            {{ "About.OurVision" | translate }}
          </div>
          <div class="mb-md-4 mb-3">
            <img src="/assets/img/vision-icon.png" />
          </div>
          <div>{{ "About.OurVisionContent" | translate }}</div>
        </div>
      </div>
      <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="0.75s">
        <div class="">
          <div class="mb-md-4 mb-3 text-0056a7 font-weight-bold fs-md-24 fs-18">
            {{ "About.OurMission" | translate }}
          </div>
          <div class="mb-md-4 mb-3">
            <img src="/assets/img/mission-icon.png" />
          </div>
          <div>{{ "About.OurMissionContent" | translate }}</div>
        </div>
      </div>
      <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="1s">
        <div class="">
          <div class="mb-md-4 mb-3 text-fd9f4b font-weight-bold fs-md-24 fs-18">
            {{ "About.RateUs" | translate }}
          </div>
          <div class="mb-md-4 mb-3">
            <img src="/assets/img/values-icon.png" />
          </div>
          <div>{{ "About.RateUsContent" | translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div
    class="mb-3 h3 font-weight-bold text-center wow fadeInUp"
    data-wow-delay="0.5s"
  >
    <div class="text-success">{{ "About.TeamWork" | translate }}</div>
    <div class="fs-md-36">{{ "Shared.RHT" | translate }}</div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">
      <div class="manager-view h-100">
        <img src="/assets/img/man-1.jpg" class="manager-img" />
        <div class="manager-caption">
          <div class="fs-20">فلان بن فلان الفلاني</div>
          <div class="fs-18">( رئيس مجلس الادارة )</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">
      <div class="manager-view h-100">
        <img src="/assets/img/man-2.jpg" class="manager-img" />
        <div class="manager-caption">
          <div class="fs-20">فلان بن فلان الفلاني</div>
          <div class="fs-18">( رئيس مجلس الادارة )</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">
      <div class="manager-view h-100">
        <img src="/assets/img/man-3.jpg" class="manager-img" />
        <div class="manager-caption">
          <div class="fs-20">فلان بن فلان الفلاني</div>
          <div class="fs-18">( رئيس مجلس الادارة )</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">
      <div class="manager-view h-100">
        <img src="/assets/img/man-4.jpg" class="manager-img" />
        <div class="manager-caption">
          <div class="fs-20">فلان بن فلان الفلاني</div>
          <div class="fs-18">( رئيس مجلس الادارة )</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">
      <div class="manager-view h-100">
        <img src="/assets/img/man-1.jpg" class="manager-img" />
        <div class="manager-caption">
          <div class="fs-20">فلان بن فلان الفلاني</div>
          <div class="fs-18">( رئيس مجلس الادارة )</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">
      <div class="manager-view h-100">
        <img src="/assets/img/man-2.jpg" class="manager-img" />
        <div class="manager-caption">
          <div class="fs-20">فلان بن فلان الفلاني</div>
          <div class="fs-18">( رئيس مجلس الادارة )</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 wow fadeInUp" data-wow-delay="0.5s">
      <div class="manager-view h-100">
        <img src="/assets/img/man-3.jpg" class="manager-img" />
        <div class="manager-caption">
          <div class="fs-20">فلان بن فلان الفلاني</div>
          <div class="fs-18">( رئيس مجلس الادارة )</div>
        </div>
      </div>
    </div>
  </div>
</div>
