<div
  class="
    bg-grad-blue
    d-flex
    font-weight-bold
    fs-20
    justify-content-between
    px-2
    py-2
    text-white
    rounded-10 rounded-top
  "
>
  <div>{{ "Dashboard.CustomerTickets" | translate }}</div>
  <div>
    <a
      [routerLink]="['./ticket/ticket-creation']"
      class="btn btn-primary btn-sm mx-2"
      ><i class="fa-plus-circle fa mr-1"></i
      ><span class="d-none d-sm-inline">{{
        "Dashboard.NewTicket" | translate
      }}</span>
      <!-- {{ "Dashboard.NewTicket" | translate }}  -->
      </a
    ><a [routerLink]="['./ticket']" class="btn btn-primary btn-sm mx-2"
      ><i class="fa-list-ul fa mr-1"></i> {{ "Dashboard.All" | translate }}</a
    >
  </div>
</div>
<br />
<div
  *ngIf="!lastTicket"
  class="alert alert-primary wow fadeInUp"
  data-wow-delay="0.5s"
  role="alert"
>
  {{ "Dashboard.NoCustomerTickets" | translate }}
</div>
<div *ngIf="lastTicket" class="table-responsive">
  <table class="table table-bordered table-light table-sm table-hover">
    <tbody>
      <tr>
        <th class="font-weight-light">
          {{ "Dashboard.TicketNumber" | translate }}
        </th>
        <th class="font-weight-normal">
          {{ "Dashboard.ContractNumber" | translate }}
        </th>
        <th class="font-weight-normal">
          {{ "Dashboard.ClosingCode" | translate }}
        </th>
        <th class="font-weight-normal">
          {{ "Dashboard.TicketType" | translate }}
        </th>
        <th class="font-weight-normal">
          {{ "Dashboard.TicketStatus" | translate }}
        </th>
        <th class="font-weight-normal">
          {{ "Dashboard.TicketDate" | translate }}
        </th>
        <!-- <th class="font-weight-normal" style="width: 100px">
          {{ "Dashboard.Options" | translate }}
        </th> -->
      </tr>
      <tr>
        <td>
          <span  class="font-secondary">{{
            lastTicket.ticketNumber
          }}</span>
        </td>
        <td class="font-secondary">{{ lastTicket?.contract }}</td>
        <td class="font-secondary">{{ lastTicket?.clientClosedCode }}</td>
        <td>{{ lastTicket.problemTypeName }}</td>
        <td *ngIf="lastTicket.status != 100000009">
          <span class="badge badge-danger">{{ lastTicket.statusName }}</span>
        </td>
        <td *ngIf="lastTicket.status == 100000009">
          <span class="badge badge-success">{{ lastTicket.statusName }}</span>
        </td>
        <td class="font-secondary">{{ lastTicket.createdOn }}</td>
        <!-- <td>
          <a
            href="support-details.html"
            class="border-0 btn btn-primary btn-sm text-white"
            data-toggle="tooltip"
            data-placement="top"
            title="عرض"
            ><i class="fa fa-eye"></i
          ></a>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
