.in-input-resend:lang(ar) {
  position: absolute;
  left: 1.5rem;
  top: 0.5rem;
  right: auto;
}
.in-input-resend:lang(en) {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  left: auto;
}
.btn-send {
  color: #06e206;
}
