<div class="font-weight-bold fs-18 fs-md-36 text-white text-center">
  {{ "Auth.PasswordReset" | translate }}
</div>
<div class="row mx-2">
  <div class="bg-white col-md-6 fs-18 mt-4 mx-auto p-5 rounded-20">
    <form (ngSubmit)="setNewPassword()" #passResetForm="ngForm">
      <div class="form-group row">
        <label for="inputMobile" class="col-sm-3 col-form-label">
          {{ "Auth.Code" | translate }}
        </label>
        <div class="col-sm-9">
          <input
            type="tel"
            class="form-control"
            id="inputMobile"
            name="code"
            #code="ngModel"
            ngModel
            required
          />
          <p-message
            *ngIf="errorCode"
            styleClass="p-mt-1"
            severity="error"
            [text]="errorCode"
            id="floorNumberError"
          >
          </p-message>
          <p-message
            *ngIf="
              (code.errors?.required && code.touched) ||
              (code.errors?.required && submitted)
            "
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.CodeRequired' | translate }}"
            id="floorNumberError"
          >
          </p-message>
          <div class="in-input-resend">
            <!-- {{'Verification.NotRecieved'|translate}} -->
            <button
              *ngIf="resendCodeButton"
              type="button"
              (click)="resendCode()"
              class="btn btn-link m-0 p-0"
            >
              {{ "Verification.Resend" | translate }}
            </button>
            <span *ngIf="!resendCodeButton" class="btn-send">تم الارسال ({{counter}}) </span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-3 col-form-label">
          {{ "Auth.Password" | translate }}
        </label>
        <div class="col-sm-9">
          <input
            autocomplete="off"
            class="form-control"
            data-val="true"
            id="Password"
            pattern=".{6,}"
            placeholder="{{ 'Auth.Password' | translate }}"
            type="password"
            name="password"
            #password="ngModel"
            ngModel
            required
          />
          <p-message
            *ngIf="
              (password.errors?.required && password.touched) ||
              (password.errors?.required && submitted)
            "
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.PasswordRequired' | translate }}"
            id="floorNumberError"
          >
          </p-message>
          <p-message
            *ngIf="
              (password.errors?.pattern && password.touched) ||
              (password.errors?.pattern && submitted)
            "
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.PasswordCountCheck' | translate }}"
            id="floorNumberError"
          >
          </p-message>
          <!-- <p-message
            *ngIf="error"
            styleClass="p-mt-1"
            severity="error"
            [text]="error"
            id="floorNumberError"
          >
          </p-message> -->
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-3 col-form-label">
          {{ "Auth.Password" | translate }}
        </label>
        <div class="col-sm-9">
          <input
            autocomplete="off"
            class="form-control"
            placeholder="{{ 'Auth.ConfirmPassword' | translate }}"
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            pattern=".{6,}"
            #confirmPassword="ngModel"
            ngModel
            required
            appCheckPassword="password"
          />

          <p-message
            *ngIf="
              (confirmPassword.errors?.required && confirmPassword.touched) ||
              (confirmPassword.errors?.required && submitted)
            "
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.ConfirmPasswordRequired' | translate }}"
            id="floorNumberError"
          >
          </p-message>
          <p-message
            *ngIf="
              (confirmPassword.errors?.required && confirmPassword.touched) ||
              (confirmPassword.errors?.required && submitted)
            "
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.ConfirmPasswordRequired' | translate }}"
            id="floorNumberError"
          >
          </p-message>
          <p-message
            *ngIf="
              (confirmPassword.errors?.pattern && confirmPassword.touched) ||
              (confirmPassword.errors?.pattern && submitted)
            "
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.PasswordCountCheck' | translate }}"
            id="floorNumberError"
          >
          </p-message>
          <p-message
            *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual"
            styleClass="p-mt-1"
            severity="error"
            text="{{ 'Auth.ConfirmPasswordCheckRequired' | translate }}"
            id="floorNumberError"
          >
          </p-message>

          <!-- <p-message
            *ngIf="error"
            styleClass="p-mt-1"
            severity="error"
            [text]="error"
            id="floorNumberError"
          >
          </p-message> -->
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
          <button type="submit" class="btn btn-block btn-lg btn-primary">
            {{ "Auth.PasswordReset" | translate }}
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9 d-flex justify-content-between offset-sm-3">
          <a [routerLink]="['../login']" class="text-success">
            {{ "Auth.Login" | translate }}</a
          >
          <a [routerLink]="['../sign-up']" class="float-right text-success">
            {{ "Auth.NewAccount" | translate }}</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <app-alert [message]="error" severity="error" summary="{{'Shared.Error'|translate}}" *ngIf="error"></app-alert>
  <app-alert
    *ngIf="success"
    life="5000"
    message="{{ 'Auth.CheckYourEmail' | translate }}"
    severity="success"
    summary="{{ 'Auth.LoginSuccess' | translate }}"
  ></app-alert> -->
