<!-- <head>
  <link *ngIf="lang==Languages.arabic" rel="stylesheet" href="/assets/css/rtl/ar-style.css" />
  <link *ngIf="lang==Languages.arabic" rel="stylesheet" href="/assets/css/rtl/bootstrap.min.css" />
  <link *ngIf="lang==Languages.english" rel="stylesheet" href="/assets/css/en-style.css" />
  <link *ngIf="lang==Languages.english" rel="stylesheet" href="/assets/css/bootstrap.min.css" />
</head> -->
<app-header></app-header>
<app-nav-social></app-nav-social>
<router-outlet></router-outlet>
<app-internet-connection></app-internet-connection>
<app-footer></app-footer>
<app-my-loader></app-my-loader>
