<div class="nav-social">
    <a href="tel:000000000" class="phone"><i class="fa fa-phone"></i></a>
    <a href="https://twitter.com/rahat_alosra" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/rahat_alosra/" target="_blank" class="facebook"><i
        class="fa fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/rahat_alosra/" target="_blank" class="instgram"><i
        class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
  </div>