<form>
  <div class="form-group row mb-0 half-gutters">
    <label for="inputPassword" class="col-sm-3 col-form-label mb-2"
      >تنقية نتائج البحث
    </label>

    <div class="col-sm-3 mb-2">
      <select
        id=""
        class="custom-select select2-hidden-accessible"
        data-select2-id="1"
        tabindex="-1"
        aria-hidden="true"
      >
        <option selected="" data-select2-id="3">
          {{ "Dashboard.RequestStatus" | translate }}
        </option>
        <option>مفتوحة</option>
        <option>مغلقة</option></select
      ><span
        class="select2 select2-container select2-container--default"
        dir="rtl"
        data-select2-id="2"
        style="width: 163.75px"
        ><span class="selection"
          ><span
            class="select2-selection select2-selection--single"
            role="combobox"
            aria-haspopup="true"
            aria-expanded="false"
            tabindex="0"
            aria-labelledby="select2--container"
            ><span
              class="select2-selection__rendered"
              id="select2--container"
              role="textbox"
              aria-readonly="true"
              title="{{ 'Dashboard.RequestStatus' | translate }}"
              >{{ "Dashboard.RequestStatus" | translate }}</span
            ><span class="select2-selection__arrow" role="presentation"
              ><b role="presentation"></b></span></span></span
        ><span class="dropdown-wrapper" aria-hidden="true"></span
      ></span>
    </div>
    <div class="col-sm-3 mb-2">
      <button type="submit" class="btn btn-primary">تنقية</button>
    </div>
  </div>
</form>
