<div class="inner-slider2 py-md-5 py-4 mb-2">
  <div class="container">
    <div class="my-md-4 text-center text-white">
      <div class="fs-md-36 fs-18 font-weight-bold">حجز عمالة منزلية</div>
      <div>الرئيسية // خدمات الشركة</div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <div
    class="
      text-center
      fs-md-24 fs-18
      font-weight-bold
      mb-md-4 mb-3
      wow
      fadeInUp
    "
    data-wow-delay="0.5s"
  >
    الدفع و التمتع بخدماتنا
  </div>

  <div class="text-center wow fadeInUp" data-wow-delay="0.5s">
    <div class="fs-md-22 mt-4">
      {{ "Payment.DearCustomer" | translate }} : 
      {{ indContReq?.contactName }}
    </div>
    <div class="fs-md-22 mt-4 font-weight-bold">
      {{ "Payment.Content1" | translate }}
      <span class="text-warning">{{ deservedAmount }} </span
      >{{ "Shared.SAR" | translate }}
      {{ "Payment.Content2" | translate }}
    </div>
    <div class="payment">
      <!-- <a
        *ngFor="let item of paymentMethods"
        [href]="'#' + item.brandName"
        [id]="item.brandName"
        class="paymenticons"
        ><img [src]="item.imageUrl" style="width: 80px; height: 40px"
      /></a> -->
      <div *ngFor="let paymentMethods of paymentMethods">
        <!-- <img
          (click)="paymentMethodClick(paymentMethods.brandName)"
          class="paymenticons"
          [src]="
            paymentMethods?.imageUrl
              ? 'https://rao.sa:8002/Images/' + paymentMethods.imageUrl
              : ''
          "
          alt=""
        /> -->

        <div class="p-2 bg-e1e1e1 circle my-2">
          <div
            class="
              custom-control custom-radio
              d-flex
              align-items-center
              bg-e1e1e1
            "
          >
            <input
              type="radio"
              class="custom-control-input"
              [id]="paymentMethods.brandName"
              name="paymentMethods"
              hidden
              (click)="paymentMethodClick(paymentMethods.brandName)"
            />
            <label class="custom-control-label" [for]="paymentMethods.brandName"
              ><img
                class="img-fluid"
                [src]="paymentMethods?.imageUrl ? paymentMethods.imageUrl : ''"
                alt=""
            /></label>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="contractCancelErrorMessage">
      <div class="alert alert-danger mt-3 d-inline-block" role="alert">
        {{ contractCancelErrorMessage }}
      </div>
    </div>

    <div>
      <div class="alert alert-success mt-3 d-inline-block" role="alert">
        يمكنك الآن الدفع عن طريق بطاقة مدى بعد التأكد من تفعيلها
      </div>
    </div>
    <div>
      <div class="alert alert-danger d-inline-block" role="alert">
        تأكد من وجود علامة القفل بجانب رايط الموقع
      </div>
    </div>
  </div>
</div>

<div id="paymentCard"></div>
<!-- <form
  [action]="'http://localhost:4200/#/payment/payment-status'"
  class="paymentWidgets payform"
  [attr.data-brands]="paymentMethod"
></form> -->
<!-- <script>
  var wpwlOptions = {
      locale: "ar"
  }
</script> -->
