<div
  class="
    bg-grad-blue
    d-flex
    font-weight-bold
    fs-20
    justify-content-between
    px-2
    py-2
    text-white
    rounded-10 rounded-top
  "
>
  <div>{{ "Dashboard.IndividualRequests" | translate }}</div>
  <div>
    <a [routerLink]="['/services']" class="btn btn-primary btn-sm mx-2"
      ><i class="fa-plus-circle fa mr-1"></i
      ><span class="d-none d-sm-inline">{{
        "Shared.NewRequest" | translate
      }}</span>
    </a>
  </div>
</div>
<div
  *ngIf="indContractRequests?.length == 0"
  class="alert alert-primary wow fadeInUp"
  data-wow-delay="0.5s"
  role="alert"
>
  {{ "Dashboard.NoRecordsFound" | translate }}
</div>
<!-- <div class="p-3">
  <app-ind-orders-filter></app-ind-orders-filter>
</div> -->
<div class="table-responsive" *ngIf="indContractRequests?.length> 0">
  <app-ind-orders-item
    [indContractRequests]="indContractRequests"
    [pageNumebrs]="pageNumber"
    [totalCounts]="totalCount"
    [pageSizes]="pageSize"
  ></app-ind-orders-item>

  <pagination-controls
    class="pagination justify-content-center font-secondary my-pagination"
    previousLabel="{{ 'Shared.Previous' | translate }}"
    nextLabel="{{ 'Shared.Next' | translate }}"
    (pageChange)="paginate($event)"
    [autoHide]="true"
  ></pagination-controls>
  <!-- <p-paginator
    [showCurrentPageReport]="true"
    [rows]="pageSize"
    [totalRecords]="totalCount"
    (onPageChange)="paginate($event)"
  ></p-paginator> -->
  <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center font-secondary">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><i class="fa fa-chevron-right mr-2"></i>{{'Shared.Previous'|translate}} </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">التالي<i class="fa fa-chevron-left ml-2"></i></a>
            </li>
        </ul>
    </nav> -->
</div>
