<div class="">
  <div>
    <div
      class="
        bg-grad-blue
        clearfix
        fs-18
        p-2
        rounded-10 rounded-top
        text-center text-white
      "
    >
      {{ "Contracts.ContractNumberDetails" | translate }}
      {{ individualContract?.contractNumber }}
    </div>

    <div *ngIf="individualContract?.wantToRenew" class="p-8 text-center">
      <a class="btn bg-brand clearfix fs-18 mb-2 p-2"
        ><i class="fa fa-redo"></i
        >{{ "Contracts.RenewContract" | translate }}</a
      >
    </div>
    <div class="border mb-3 p-3">
      <div class="text-md-left text-center">
        <div class="bg-white">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-2">
                <i class="info-icon-small"></i
                >{{ "Shared.ContractNumber" | translate }} :
                <span class="text-brand">
                  <span class="font-secondary">{{
                    individualContract?.contractNumber
                  }}</span>
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-2">
                <i class="info-icon-small"></i
                >{{ "Contracts.ContractStatus" | translate }} :
                <span class="text-brand">
                  <span class="font-secondary">{{
                    individualContract?.statusCodeName
                  }}</span>
                </span>
              </div>
            </div>

            <!-- @*<div class="col-md-6">
                            <div class="mb-2">
                                <i class="info-icon-small"></i>مده العقد:  <span class="text-brand">
                                    <span class="font-secondary">@Model.</span>
                                </span>
                            </div>
                        </div>*@ -->

            <div class="col-md-6">
              <div class="mb-2">
                <i class="info-icon-small"></i
                >{{ "Contracts.RequiredNationality" | translate }}:
                <span class="text-brand">
                  <span class="font-secondary">{{
                    individualContract?.nationalityName
                  }}</span>
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-2">
                <i class="info-icon-small"></i
                >{{ "Contracts.RequiredProfession" | translate }}:
                <span class="text-brand">
                  <span class="font-secondary">{{
                    individualContract?.professionName
                  }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- /.row -->
        <!-- /.row -->
      </div>
    </div>
  </div>
  <div>
    <div
      class="
        bg-grad-blue
        clearfix
        fs-18
        p-2
        rounded-10 rounded-top
        text-center text-white
      "
    >
      {{ "PricingDetails.PricingDetails" | translate }}
    </div>
    <div class="border mb-3 p-3">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-2">
            <i class="info-icon-small"></i
            >{{ "PricingDetails.Pricing" | translate }}
            :
            <span class="text-brand">
              {{ individualContract?.pricingName }}
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-2">
            <i class="info-icon-small"></i
            >{{ "PricingDetails.VatAmount" | translate }} %:
            <span class="text-brand"
              >{{ individualContract?.vatRate * 100 }} %</span
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-2">
            <i class="info-icon-small"></i
            >{{ "PricingDetails.VatAmountValue" | translate }}:
            <span class="text-brand">
              <span class="font-secondary">{{
                individualContract?.vatAmount
              }}</span>
              {{ "Shared.Currency" | translate }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-2">
            <i class="info-icon-small"></i
            >{{ "Dashboard.FinalPrice" | translate }}:
            <span class="text-brand">
              <span class="font-secondary">
                {{ individualContract?.totalAmount | mathRound }}</span
              >
              {{ "Shared.Currency" | translate }}
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-2">
            <i class="info-icon-small"></i
            >{{ "Contracts.FinalPricePlusVat" | translate }}:
            <span class="text-brand">
              <span class="font-secondary">{{
                individualContract?.totalAmountWithVat
              }}</span>
              {{ "Shared.Currency" | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="has-map">
    <div class="panel-body">
      <agm-map
        [zoom]="12"
        [latitude]="
          individualContract.latitude != null
            ? +individualContract.latitude
            : 24.7136
        "
        [longitude]="
          individualContract.longitude != null
            ? +individualContract.longitude
            : 46.6753
        "
      >
        <agm-marker
          [latitude]="
            individualContract.latitude != null
              ? +individualContract.latitude
              : 24.7136
          "
          [longitude]="
            individualContract.longitude != null
              ? +individualContract.longitude
              : 46.6753
          "
        ></agm-marker>
        <agm-map-type-control>
          <button mat-flat-button>Satellite</button>
          <button mat-flat-button>RoadMap</button>
        </agm-map-type-control>
      </agm-map>
    </div>
  </div>
</div>
